.price {
    position: relative;
    margin-top: 60px;
    display: grid;
    &__item {
        margin-top: 60px;
        display: grid;
        justify-content: space-between;
        grid-template: repeat(2, 370px) / repeat(2, 370px) ;
    }
    &__title {
        @include before_circle;
        &:before {
            width: 15px;
            height: 15px;
            top: 115px;
            left: 150px;
        }
    }
    &__money {
        position: absolute;
        top: 113px;
        padding-left: 233px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    &__descr {
        margin-top: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px
    }
}
