.skills {
    position: relative;
    height: 1024px;
    &__title {
        margin-top: 120px;
        text-align: center;  
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center; 
    }
    &__column {
        display: grid;
        margin-top: 60px;
        grid-template-columns: 270px 270px 270px 270px;
        gap: 13px;
    }
    &__head {
        width: 270px;
        border: 2px solid black;
        padding: 30px 30px 25px 30px;
    }
    &__text {
        margin-top: 20px;
        font-weight: 800;
        font-size: 14px;
        line-height: 21px
    }
    &__descr {
        margin-top: 15px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    &__column2 {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        position: relative;
        margin-top: 120px;
        column-gap: 45px; 
        row-gap: 30px;
    }
    &__title1 {
        position: relative;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        @include before_circle;
            &:before {
                top: -8px;
                left: -10px;
            }
    }
    &__precent {
        margin-top: -19px;
        padding-left: 314px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px    
    }
    &__divider {
       background-color: #E8E4DE;
        span {
            display: block;
            margin-top: 25px;
            background-color: $main-color;
            height: 14px;
            border-radius: 4px;
        }
    }


}